@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

.clear {
	clear: both;
}
 body{
    justify-content: center;

 }
.body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
    background: url('https://b.kisscc0.com/20180705/jw/kisscc0-skyline-new-york-city-silhouette-computer-icons-co-skyline-5b3dd82b0b6aa5.3953889715507796910468.png') ;
	display: flex;
	align-items: center;
	justify-content: center;
} 

.mainpage_container {
	border-radius: 25px;
    width:65%;
	box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	background-color: #222831;
	color: #ffffff;
	height: 550px;
    padding:0;
}

.weather-side {
	position: relative;
	height: 100%;
	border-radius: 25px;
	width: 430px;
	box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	transform: translateZ(0) scale(1.02) perspective(1000px);
	float: left;
}
@media screen and (max-width:1350px){
	.weather-side{
		width:350px
	}

}
@media screen and (max-width:1250px){
	.weather-side{
		width:300px
	}
}
.weather-side:hover {
	        transform: scale(1.05) perspective(1500px) rotateY(10deg);
}
.weather-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: var(--gradient);
	border-radius: 25px;
	opacity: 0.8;
}
.date-container {
	position: absolute;
	top: 25px;
	left: 25px;
}
.date-dayname {
	margin: 0;
}
.date-day {
	display: block;
}
.location {
	display: inline-block;
	margin-top: 10px;
}
.location-icon {
	display: inline-block;
	height: 0.8em;
	width: auto;
	margin-right: 5px;
}

.weather-container {
	position: absolute;
	bottom: 25px;
	left: 25px;
}
.weather-icon.feather {
	height: 60px;
	width: auto;
}
.weather-temp {
	margin: 0;
	font-weight: 700;
	font-size: 4em;
}

.weather-desc {
	margin: 0;
}

.info-side {
	position: relative;
	float: left;
	height: 100%;
	width:50%;

	padding-top: 5rem;
    padding-left: 2.3rem;
}
@media only screen and (max-width:1320px){
	.info-side {
		position: relative;
		float: none;
		height: 100%;
		width: 100%;
		padding-top: 5rem;
		padding-left: 0;
	}

.weather-side{
	display: none;
}
.mainpage_container{
	width:70%;

}
.week-list > li {
	width: 25%;
}
}
.today-info {
	padding: 15px;
	margin: 0 25px 25px 25px;
	border-radius: 10px;
}

.today-info>div:not(:last-child) {
	margin: 0 0 10px 0;
}

.today-info>div .title {
	float: left;
	font-weight: 700;
}

.today-info>div .value {
	float: right;
}

.week-list {
	list-style-type: none;
	padding: 0;
	margin: 10px 35px;
	-webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.week-list>li {
	float: left;
	padding: 15px;
	cursor: pointer;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	border-radius: 10px;
}

.week-list>li:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	background: #fff;
	color: #222831;
	-webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.week-list>li.active {
	background: #fff;
	color: #222831;
	border-radius: 10px;
}

.week-list>li .day-name {
	display: block;
	margin: 10px 0 0 0;
	text-align: center;
}

.fa-sun{
	font-size:2.7rem;
	animation-name : animated-icon;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}
.fa-cloud-showers-heavy{
	font-size:2.7rem;
	animation-name : animated-icon;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}
.fa-cloud{
	font-size:2.7rem;
	animation-name : animated-icon;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}
.fa-cloud-sun{
	font-size:2.7rem;
	animation-name : animated-icon;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

@keyframes animated-icon {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	
	}
} 
.week-list>li .day-icon {
	display: block;
	height: 30px;
	width: auto;
	margin: 0 auto;
}

.week-list>li .day-temp {
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-weight: 700;
	font-size:0.8rem
}

.location-container {
	padding: 25px 35px;
}

.location-button {
	outline: none;
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	background-image: var(--gradient);
	font-weight: 700;
	box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: -webkit-transform 200ms ease;
	transition: transform 200ms ease;
	transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
	 transform: scale(0.95);
}

.location-button .feather {
	height: 1em;
	width: auto;
	margin-right: 5px;
}
input[type="radio"]{
	width:30px
}


.contain {
	height: calc(100% - 2rem);
	position: absolute;
	top:-43%;
	right:3%;
	/* background: #f4f4f4; */
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .credit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1rem;
	font-family: arial;
  }
  
  .switch {
	position: relative;
	overflow: hidden;
	width: 6rem;
	height: 2.5rem;
  }
  
  .switch input {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
  }
  
  .switch label {
	cursor: pointer;
  }
  
  .background {
	z-index: 1;
	position: absolute;
	width: 5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	border: 0.25rem solid #202020;
	background: linear-gradient(to right, #484848 0%,#202020 100%);
	transition: all 0.3s;
  }
  .fa-moon{
	  font-size:3rem;
	 
  }
  .fill {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 2rem;
	left: 0;
	transition: 0.75s all ease;
  }

  
  .stars1,
  .stars2 {
	position: absolute;
	height: 0.4rem;
	width: 0.4rem; 
	background: #FFFFFF;
	border-radius: 50%;
	transition: 0.3s all ease;
  }
  
  .stars1 {
	top: 6px;
	right: 23px;
  }
  
  .stars2 {
	top: 40px;
	right: 48px;
  }
  
  .stars1:after,
  .stars1:before,
  .stars2:after,
  .stars2:before{
	position: absolute;
	content: "";
	display: block;
	height: 0.25rem;
	width: 0.25rem;
	background: #FFFFFF;
	border-radius: 50%;
	transition: 0.2s all ease;
  }
  
  .stars1:after {
	top: 8px;
	right: 20px;
  }
  
  .stars1:before {
	top: 18px;
	right: -12px;
  }
  
  .stars2:after {
	top: -8px;
	right: -16px;
  }
  
  .stars2:before {
	top: 6px;
	right: -26px;
  }
  
  .sun-moon {
	z-index: 2;
	position: absolute;
	left: 0;
	display: inline-block;
	height: 2.1rem;
	width: 2.1rem;
	background: #FFFDF2;
	border-radius: 50%;
	transition: all 0.5s ease;
	
	/* Default to Moon */
	border: 0.25rem solid #DEE2C6;
  }
  
  .sun-moon .dots {
	position: absolute;
	top: 3px;
	left: 23px;
	height: 1rem;
	width: 1rem; 
	background: #EFEEDB;
	border: 0.25rem solid #DEE2C6;
	border-radius: 50%;
	transition: 0.4s all ease;
  }
  
  .sun-moon .dots:after,
  .sun-moon .dots:before {
	position: absolute;
	content: "";
	display: block;
	height: 0.25rem;
	width: 0.25rem;
	background: #EFEEDB;
	border: 0.25rem solid #DEE2C6;
	border-radius: 50%;
	transition: 0.4s all ease;
  }
  
  .sun-moon .dots:after {
	top: -4px;
	left: -26px;
  }
  
  .sun-moon .dots:before {
	top: 18px;
	left: -10px;
  }
  
  /* Transition to Sun */
  
  .switch input:checked ~ .sun-moon {
	left: calc(100% - 3.3rem);
	background: #F5EC59;
	border-color: #E7C65C;
	transform: rotate(-25deg);
  }
  
  .switch input:checked ~ .sun-moon .dots,
  .switch input:checked ~ .sun-moon .dots:after,
  .switch input:checked ~ .sun-moon .dots:before {
	background: #FFFFFF;
	border-color: #FFFFFF;
  }
  
  .switch input:checked ~ .sun-moon .dots {
	height: 1rem;
	width: 1rem;
	top: 0px;
	left: -20px;
	transform: rotate(25deg);
  }
  
  .switch input:checked ~ .sun-moon .dots:after {
	height: 0.65rem;
	width: 0.65rem;
	top: 2px;
	left: -12px;
  }
  
  .switch input:checked ~ .sun-moon .dots:before {
	height: 0.4rem;
	width: 0.4rem;
	top: 6px;
	left: 14px;
  }
  
  .switch input:checked ~ .background .stars1,
  .switch input:checked ~ .background .stars2 {
	opacity: 0;
	transform: translateY(2rem);
  }
  
  .switch input:checked ~ .background {
	border: 0.25rem solid #78C1D5;
	background: linear-gradient(to right, #78C1D5 0%, #BBE7F5 100%);
  }


  .weather-app-container{
	background-color: #151414;
	position:fixed;
	width:100%;
	top:0% 
  }